<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>어바웃 페이지</title>
  </head>
  <body>
    <h1>모름캠프입니다.</h1>
    <p>개발을 몰라서 모름캠프입니다!<br>와주셔서 감사합니다.<br>최유진<br>윤성원<br>오영석<br>정민영</p>
  </body>
</html>

