<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>어바웃 페이지</title>
  </head>
  <body>
    <h1>웰컴 투 모름캠프</h1>
    <p>모름캠프는 개발을 모르는 개발자들의 팀입니다!</p>
    <p>최유진<br>윤성원<br>오영석<br>정민영</p>
  </body>
</html>

