<!DOCTYPE html>
<html>
  <head>
    <title>모름 캠프</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>모름 캠프</h1>
    <p>모름 캠프에 오신 것을 환영합니다.</p>
    <a href="/login">관리자 로그인 하기</a>
  </body>
</html>
