<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <nav class="">
      <div>
        <h1>Morm</h1>
      </div>

      <h3>안녕하세요. 모름캠프에 오신걸 환영합니다.</h3>

      <button>어바웃</button>
      <a href="http://localhost:3000/login">로그인</a>
      <button>회원가입</button>
    </nav>
  </body>
</html>

<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>모름캠프입니다.</title>
  </head>
  <body></body>
</html>
