<!DOCTYPE html>
<html>
  <head>
    <title>모름캠프</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <nav class="">
      <div>
        <h1>Morm</h1>
      </div>

      <h3>안녕하세요. 모름캠프에 오신걸 환영합니다.</h3>

      <nav>
        <a href="http://localhost:3000/">홈</a>
        <a href="http://localhost:3000/about">어바웃</a>
        <a href="http://localhost:3000/login">로그인</a>
        <a href="http://localhost:3000/signup">회원가입</a>
      </nav>
    </nav>
  </body>
</html>
