<!DOCTYPE html>
<html>
  <head>
    <title>관리자 메인 페이지</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <nav>
      <strong>관리자 메인 페이지</strong>
      <a href="/admin">관리자 계정 정보 관리 </a>
      <a href="/article">게시글 정보 관리</a>
      <a href="/member">사용자 정보 관리</a>
      <a href="/channel">채팅방 정보 관리</a>
      <a href="/message">채팅 메시지 이력 정보 관리</a>
    </nav>

    <main>
      <p>메인 페이지에 오신 것을 환영합니다</p>
    </main>
  </body>
</html>
