<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>신규 회원 가입</title>
    <link rel="stylesheet" href="./public/stylesheets/style.css" />
  </head>

  <body>
    <div>
      <nav>
        <a href="http://localhost:3000/">홈</a>
        <a href="http://localhost:3000/about">어바웃</a>
        <a href="http://localhost:3000/login">로그인</a>
        <a href="http://localhost:3000/signup">회원가입</a>
      </nav>

      <h1>회원가입</h1>

      <label for="username">사용자명:</label>
      <input type="text" id="username" name="username" required />

      <label for="email">이메일:</label>
      <input type="email" id="email" name="email" required />

      <label for="username">비밀번호:</label>
      <input type="password" id="password" name="password" required />

      <button type="submit">가입하기</button>
    </div>
  </body>
</html>
