<!DOCTYPE html>

<html lang="ko">
  <head>
    <title>게시글 정보 관리 페이지</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <nav>
      <strong>게시글 정보 관리</strong>
      <a href="/main">전체 관리 페이지</a>
      <a href="/article/create">생성</a>
      <a href="/article/list">목록</a>
      <a href="/article/modify">수정</a>
      <a href="/article/delete">삭제</a>
    </nav>
  </body>
</html>
