<!DOCTYPE html>

<html>

<head>
    <title>게시글 등록 페이지</title>
</head>

<body>
    <style>
        h1 {
            font-size: calc(1.375rem + 1.5vw);
            color: #008cba;
        }

        button {
            background-color: #008cba;
            color: white;
        }
    </style>
    <h1>신규 게시글 등록</h1>
    <form action="/article/create" method="post">
        제목:<input type="text" name="title"><br />
        내용:<textarea name="contents" rows="20" cols="10" style="width:90%"></textarea><br />
        등록자:<input type="text" name="register" /><br />
        <input type="submit" value="저장" />
        <button href="/channel/list">목록</button>
    </form>
</body>

</html>