<!DOCTYPE html>

<html lang="ko">
  <head>
    <title>메시지 정보 관리 페이지</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <nav>
      <strong> 메시지 정보 관리</strong>
      <a href="/main">전체 관리 페이지</a>
      <a href="/message/create">생성</a>
      <a href="/message/list">목록</a>
      <a href="/message/modify">수정</a>
    </nav>
  </body>
</html>
