<head>
  <link href="/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/font-awesome/css/font-awesome.css" rel="stylesheet" />

  <link href="/css/animate.css" rel="stylesheet" />
  <link href="/css/style.css" rel="stylesheet" />

  <!--추가 스타일-->
</head>

        <!--우측 콘텐츠 헤더영역 -->
        <div class="row wrapper border-bottom white-bg page-heading">
          <div class="col-lg-10">
            <h2>메세지 확인 및 수정</h2>
            <ol class="breadcrumb">
              <li>
                <a href="/">Home-></a>
              </li>
              <li>
                <a>메세지 확인 및 수정-></a>
              </li>
              <li class="active">
                <strong>등록</strong>
              </li>
            </ol>
          </div>
          <div class="col-lg-2"></div>
        </div>

        <!--우측 콘텐츠 영역 -->
        <form
          action="/message/modify/<%=message.channel_msg_id%>"
          id="messageForm"
          method="post"
        >
          <div class="wrapper wrapper-content">
            <div class="ibox-content m-b-sm border-bottom">
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label class="control-label">채널ID</label>
                    <select
                      name="channel_id"
                      id="channel_id"
                      class="form-control"
                    >
                      <option value=0 <% if(message.channel_id === 0) { %> selected <%} %>>전체</option>
                      <option value=1 <% if(message.channel_id === 1) { %> selected <%} %>>1번 채널</option>
                      <option value=2 <% if(message.channel_id === 2) { %> selected <%} %>>2번 채널</option>
                      <option value=3 <% if(message.channel_id === 3) { %> selected <%} %>>3번 채널</option>
                      <option value=4 <% if(message.channel_id === 4) { %> selected <%} %>>4번 채널</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label class="control-label">닉네임</label>
                    <input
                      type="text"
                      name="nick_name"
                      id="nick_name"
                      class="form-control"
                      value=<%= message.nick_name %>
                    />
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="form-group">
                    <label class="control-label">메세지 상태</label>
                    <select
                      name="msg_state_code"
                      id="msg_state_code"
                      class="form-control"
                    >
                      <option value="0" <% if( message.msg_state_code === 0) { %> selected <%} %>>숨김</option>
                      <option value="1" <% if( message.msg_state_code === 1) { %> selected <%} %>>공개</option>
                    </select>
                  </div>
                </div>                  
              </div>


              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label class="control-label">메세지</label>
                    <textarea
                      class="form-control"
                      id="message"
                      name="message"
                      rows="10"
                      cols="5"
                      
                    ><%= message.message %></textarea>
                  </div>
                </div>
              </div>



              <div class="text-center">
                <input type="submit" id='btnEdit' name='btnEdit' class="btn btn-primary" value="수정"></input>
                <input type="submit" id='btnDelete' name='btnDelete' class="btn btn-danger" value="삭제"></input>
                <a href="/message/list" class="btn btn-info">목록</a>
              </div>
            </div>
          </div>
        </form>

    <script>
      //html페이지가 브라우저에서 렌더링이 다 됐으면 발생하는 이벤트
      $(document).ready(function () {
        $("#boardTypeCode").focus();
      });

      //articleForm에서 submit이 발생하면 function실행.
      $("#articleForm").submit(function () {
        if ($("#boardTypeCode").val() === "9") {
          alert("선택해");
          $("#boardTypeCode").focus();
          return false;
        }
        if ($("#title").val() === "") {
          alert("제목입력해");
          $("#title").focus();
          return false;
        }
        if ($("#contents").val() === "") {
          alert("내용입력해");
          $("#contents").focus();
          return false;
        }
        if ($("#articleTypeCode").val() === "9") {
          alert("게시유형 선택해");
          $("#articleTypeCode").focus();
          return false;
        }
        if ($("#isDisplayCode").val() === "9") {
          alert("게시여부 선택해");
          $("#isDisplayCode").focus();
          return false;
        }
        if ($("#register").val() === "") {
          alert("작성자명 선택해");
          $("#register").focus();
          return false;
        }
        return true;
      });

      $("#btnDelete").click(function() {
        if (confirm('삭제할꺼야?')) {
          alert('삭제o');
          window.location.href = "새로운URL";
        }
        else {
          alert('삭제취소');
        }
      })
    </script>

