* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  padding: 1rem;
  color: #0045bb;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav {
  box-shadow: 1px 6px 5px 0px rgba(0, 0, 0, 0.61);
  -webkit-box-shadow: 1px 6px 5px 0px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 1px 6px 5px 0px rgba(0, 0, 0, 0.61);
  width: 80vw;
  height: 8vh;
  margin-bottom: 5rem;
}

main,
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  width: 80vw;
  height: 70vh;
  box-shadow: 1px 6px 5px 0px rgba(0, 0, 0, 0.61);
  -webkit-box-shadow: 1px 6px 5px 0px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 1px 6px 5px 0px rgba(0, 0, 0, 0.61);
}

form {
  width: 80vw;
  height: 50vh;
}

label {
  display: inline-block;
  width: 8rem;
}

button {
  margin-top: 1rem;
  width: 10rem;
  height: 3.5rem;
  border: none;
  cursor: pointer;
  background-color: #111;
  color: #fff;
  transition: 1s all;
}

button:hover {
  background-color: #0045bb;
}

.form {
  flex-direction: column;
  width: 100%;
}

.form div {
  margin-bottom: 1rem;
}

.info {
  height: 0vh;
}
