* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  padding: 1rem;
  color: #0045bb;
  text-decoration: none;
}

nav,
main,
.form {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav {
  box-shadow: 1px 6px 5px 0px rgba(0, 0, 0, 0.61);
  -webkit-box-shadow: 1px 6px 5px 0px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 1px 6px 5px 0px rgba(0, 0, 0, 0.61);
  width: 90vw;
  height: 8vh;
  margin-bottom: 5rem;
}

main {
  flex-direction: column;
  width: 90vw;
  height: 80vh;
  box-shadow: 1px 6px 5px 0px rgba(0, 0, 0, 0.61);
  -webkit-box-shadow: 1px 6px 5px 0px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 1px 6px 5px 0px rgba(0, 0, 0, 0.61);
}

label {
  display: inline-block;
  width: 10rem;
}

button {
  width: 10rem;
  height: 3.5rem;
  border: none;
  cursor: pointer;
  background-color: #111;
  color: #fff;
  transition: 1s all;
}

button:hover {
  background-color: #0045bb;
}

.form {
  flex-direction: column;
  width: 100%;
}

.form div {
  margin-bottom: 1rem;
}

.info {
  height: 0vh;
}
