<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>삭제 완료</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <main>
      <h1>삭제가 완료되었습니다.</h1>
      <p>목록으로 이동하는 경우 아래 링크를 클릭해주세요.</p>
      <a href="/channel/list">목록</a>
    </main>
  </body>
</html>
