<head>
  <link href="/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/font-awesome/css/font-awesome.css" rel="stylesheet" />

  <link href="/css/animate.css" rel="stylesheet" />
  <link href="/css/style.css" rel="stylesheet" />

  <!--추가 스타일-->
</head>

<body>
  <main>
    <h1>삭제가 완료되었습니다.</h1>
    <p>목록으로 이동하는 경우 아래 링크를 클릭해주세요.</p>
    <a href="/channel/list">목록</a>
  </main>
</body>